HUGGINGFACEHUB_API_TOKEN=hf_your_token_here
HF_MODEL=Qwen/Qwen3-VL-8B-Instruct:novita
GOOGLE_DRIVE_ASSETS_FOLDER_ID=1geZSX49w_sY4gAhasOyYhxN_PXqbAt8q
GOOGLE_DRIVE_CREDENTIALS_JSON=secrets/google_drive_credentials.json
GOOGLE_DRIVE_TOKEN_JSON=secrets/google_drive_token.json
